@import '~antd/dist/antd.css';

.avatar {
  background-color: #f9fafd;
  color:#C66A70
}

.ant-badge-count, .ant-badge-dot, .ant-badge .ant-scroll-number-custom-component {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
}

.ant-badge-dot {
    z-index: auto;
    width: 6px;
    min-width: 6px;
    height: 6px;
    background: #ff4d4f;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #ff4d4f;
}

.ant-scroll-number {
  overflow: hidden;
}

.background {
  background-color: #6CA7E4;
  height: 100vh;
}

.navbar {
  background-color: #C66A70;
  text-align: left;
}

.navLogo {
  width: 25px;
  height: 27px;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.rightNavElement {
  padding-left: 0.7rem;
  padding-right: 2rem;
} 

.rightSpans {
  float: right;
}

.icon-wrapper {
  position: relative;
  padding: 0px 30px;
  margin: 50px;
}

.icon-wrapper .anticon {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  color: #344fa1;
  font-size: 16px;
  line-height: 1;
}


.icon-wrapper .anticon:first-child {
  left: 0;
}

.icon-wrapper .anticon:last-child {
  right: 0;
}

.form-listen {
    width:40%;
    padding-bottom: 15px;
    margin: 40px;
}

.input-listen{
  margin: 20px;
  width: 400px;
}

.input-button-listen{
  margin-top: 35px;
  margin-left: 220px;
  width: 200px;
}

.sign-up-inputs {
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.sign-up-top-input-width {
  width: 49%;
}

.sign-up-bottom-input-width {
  width: 100%;
}

.sign-up-button {
  border-radius: 5px;
  margin-top: 30px;
}

.sign-up-title {
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
}

.sign-up-input-group {
  display: flex;
  justify-content: space-between;
}

.sign-up-button-div {
  display: flex;
  justify-content: flex-end;
}